/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2015, 1:52:38 PM
    Author     : pavitrakumar
*/

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/*=============================================
=                  GENERAL                   =
=============================================*/

body {
    font-size:13px;
    font-family:Arial, sans-serif;
}

a {
    text-decoration:none;
    color:inherit;
}

a:hover {
    text-decoration:underline;
}

/*=============================================
=                  NAVIGATION                 =
=============================================*/

.nav_bar {
    display:block;
    float:right;
}

.nav_bar li {
    display:inline-block;
    padding-left:15px;
}

.nav_bar li img {
    height:24px;
    position:relative;
    top:7px;
}

.nav_bar .portrait img {
    border-radius:50%;
    height:33px;
}

.portrait {
    padding-right:25px;
    position:relative;
    top:3px;
}

/*=============================================
=                  MAIN CENTER                =
=============================================*/
/*
.tg-button {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size:11px;
    font-weight:600;
    height: 27px;
    padding: 0 14px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    text-decoration: none;
    width:90px;
}*/
.container_main {
    display:block;
    width:100%;
    text-align:center;
}

.logo {
    width:100%;
    padding-top:200px;
    padding-bottom:25px;
}

.logo img {
    display:block;
    width: 269px;
    height: 95px;
    margin:auto;
}

.searchbox {
    width: 592px;
    height: 27px;
    margin:auto;
    position:relative;
}

.searchbox input {
    width:570px;
    height:100%;
    border:1px solid #DDDDDD;
    padding: 0 10px;
    position:relative;
    float:left;
    z-index:10;
}

.container_mic {
    position:absolute;
    width:100%;
    height:100%;
}

.container_mic img {
    float:right;
    height:21px;
    position:relative;
    top:4px;
    right:6px;
    z-index:11;
}

.searchbox input:hover {
    border:1px solid #AEAEAE;
}

.container_buttons_search {
    display:block;
    margin-top:15px;
}

.container_buttons_search .button_search {
    margin-right:6px;
    margin-left:6px;
    border:1px solid #DDD;
    padding: 8px 3px;
    display: inline-block;
    background-color:#F2F2F2;
    font-size:11px;
    font-weight:600;
}

.button_search:hover {
    border-bottom: 2px solid #CACACA;
    background-color:#F5F5F5;
}

.button_search {
    font-size:11px;
    font-weight:600;
}

.button_search a:hover {
    text-decoration:none;
}

.google_search {
    width:90px;
}


.feeling_lucky {
    width:105px;
}

/*=============================================
=                    FOOTER                  =
=============================================*/

.footer {
    position:absolute;
    width:100%;
    height:40px;
    background-color:#F2F2F2;
    bottom:1px;
    border-top:1px solid #E4E4E4;
}

.footer_left {
    display:block;
    float:left;
    width:48%;
}

.footer_right {
    display: block;
    text-align:right;
}

.footer_left ul li, .footer_right ul li{
    display:inline-block;
    padding-top:15px;
    padding-bottom:10px;
    color:#666;
}

.footer_left ul li{
    padding-left:30px;
}
.footer_right ul li{
    padding-right:30px;
}

.test1submit {
    cursor:pointer; 
    width:60px; 
    height: 30px; 
    color: transparent;  
    background: url(search-ico.png) no-repeat #4d90fe center; 
    border: 1px solid #3079ED; 
    -moz-border-radius: 2px; 
}

.newSearch {
    margin:40px;
}

.newsearchbox{
    float:left; 
    width: 592px;
    height: 24px;
    padding-left: 10px;
}

.newlogo{
    float:left;
    padding-right: 50px;
    display:block;
}

.gsc-result-info {
    text-align: left;
    color: #999;
    font-size: 16px;
    padding-left: 8px;
    margin: 10px 0 10px 0;
}